@using TeacherTools.Models
@using TeacherTools.Function
@model ViewingModel

<div class="view_grid">
    <div class="list">
        <div class="header"><span class="label right">Обучающиеся</span><a href=@Url.Action("AddStudent","Student") class="btn_char" id="addStudent">&#10010;</a></div>
        <ul class="viewing-list">
            @foreach(var st in Model.Students)
            {
                <li>
                    <input type="hidden" id="student-id" value="@st.Id"/>
                    <span>@st.FullName</span>
                    <span class="mRm gr">@st.Birthday.Date</span>
                    <button class="btn_char delStudent">&#10006;</button>
                </li>
            }
        </ul>
    </div>
    <div class="info"><div class="header"><span class="label right">Информация</span></div></div>
    <div class="course">
        <div class="header"><span class="label right">Группы</span><a href=@Url.Action("AddGroup","Student") class="btn_char" id="addStudent">&#10010;</a></div>
        <ul class="viewing-list">
            @foreach(var gr in Model.Groups)
            {
                <li>
                    <input type="hidden" id="group-id" value="@gr.Id"/>
                    <span>@gr.Name</span>
                    <span class="mRm gr">@gr.DateCreate.Date</span>
                    <button class="btn_char delGroup" id="delGroup">&#10006;</button>
                </li>
            }
        </ul>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_QuestionModal", new QuestionViewModel() { 
        FormId="fDelStudent",
        Hidden="ids",
        CloseId="cDelStudent", 
        Method=@Url.Action("DeleteStudent","Student"),
        Title="Вы уверены, что хотите удалить данного студента?"
    });
}

@{
    await Html.RenderPartialAsync("_QuestionModal", new QuestionViewModel() { 
        FormId="fDelGroup",
        Hidden="ids",
        CloseId="cDelGroup", 
        Method=@Url.Action("DeleteGroup","Student"),
        Title="Вы уверены, что хотите удалить данную группу?"
    });
}

<script src="~/js/student.js"></script>